html,
body {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  color: rgba(0,0,0,0.7);
}

/* Style for header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  font-size: 2rem;
  padding: 20px 24px;
}

.mobile-header {
  display: none;
}

.headerbox {
  display: flex;
  align-items: center;
  height: 2rem;
}

.headerbox img {
  height: 5rem;
}

.headerbox span {
  font-weight: 600;
}

.headerbox span:last-child {
  color: #D3D3D3;
  font-weight: normal;
}

nav span {
  margin-right: 1rem;
}

nav span:last-child {
  margin-right: 0;
}

/* Style for Mission Statement */
.statementbox {
  width: 100%;
  display: flex;
  padding: 2.5rem 2rem;
  background-color: #D3D3D3;
}

.statement-image {
  width: 60%;
}

.statement-image img {
  width: 100%;
  height: auto;
}

.information {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 4rem;
}

.informationbox {
  width: 80%;
}

.informationbox h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.informationbox p {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.box {
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
  background-color: rgba(0,0,0,0.7);
}

.informationbox a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

/* Styling for the main body */
.missionbox {
  display: flex;
  width: 100%;
}

.main {
  width: 60%;
  padding: 2.5rem 2rem 0 2rem;
}

#main {
  border-right: 1px solid #D3D3D3;
}

.main img, video {
  width: 100%;
  height: auto;
  margin-bottom: 2.5rem;
}

.main h2 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.main p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  line-height: 1.75em;
  color: rgba(0,0,0,0.55);
}

p.author {
  color: rgba(0,0,0,0.7);
}

/* Styling to the side bar of the main body */

.sidelinks-mobile {
  display: none;
}

.sidelinks {
  max-width: 40%;
  padding: 2.5rem 0;
}

.infobox {
  display: flex;
  padding: 1.5rem;
  height: auto;
}

.infobox:first-child {
  padding-top: 0;
  border-bottom: 1px solid #D3D3D3;
}

.infobox:last-child {
  background-color: #D3D3D3;
}

.imagebox {
  width: 35%;
  height: auto;
}

.imagebox img {
  width: 100%;
  height: auto;
}

.additonalinfo {
  width: 65%;
  align-self: center;
  padding-left: 1.5rem;
}

.additonalinfo h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.additonalinfo p {
  font-size: 1.5rem;
  line-height: 1.5em;
  margin-bottom: 1rem;
  color: rgba(0,0,0,0.55);
}

.additonalinfo a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #00BFFF;
}

/* Style for the Courses Section */

.learning {
  background-color: #F5F5F5;
  padding: 32px 72px;
}

.learning h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 32px;
  padding: 32px 0;
}

.coursebox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 32px 32px 32px;
}

.coursebox-mobile {
  display: none;
}

.course {
  background-color: white;
  width: 31.5%;
  margin-bottom: 32px;
}

#bottom {
  margin-bottom: 0;
}

.course img {
  max-width: 100%;
}

.course-desc {
  margin: 16px 16px 24px 16px;
  padding: 16px 16px 0 16px;
}

.course-desc h2 {
  font-size: 2.5rem;
  margin-bottom: 8px;
  padding-bottom: 8px;
  font-weight: 700;
}

.course-desc h3 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 8px;
  padding: 8px 0;
  color: rgba(0,0,0,0.55);
}

.course-desc p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5em;
  color: rgba(0,0,0,0.55);
}

/* Styling for Thesis Exhibit (Used Same Div Formatting as Mission Statment) this contains code that differs */
.thesisbox {
  padding-right: 10px;
  padding-bottom: 32px
}

.thesisbox h1 {
  text-align: center;
  margin: 32px 0;
  padding-top: 32px;
  font-size: 3.5rem;
  font-weight: bold;
}

#thesis .main video {
  margin-bottom: 24px;
}

#thesis .main h2 {
  font-size: 2.5rem;
  margin-bottom: 8px;
  padding-bottom: 8px;
  font-weight:
}

#thesis .main p {
  font-size: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5em;
  font-weight: 300;
}

#thesis .additonalinfo p {
  font-weight: 300;
}

#thesis .infobox:first-child {
  background-color: #D3D3D3;
  padding-top: 16px;
  border: none;
}

#thesis .infobox:last-child {
  background-color: white;
}

/* Style for Footer */

footer {
  padding: 16px 24px 54px 24px;
  display: flex;
  font-size: 1.15rem;
  color: rgba(0,0,0,0.55);
  justify-content: space-between;
  border-top: 1px solid #D3D3D3;
}

/* Below is a Media Query for Mobile Phone */

@media only screen and (max-width: 480px) {
  /*Documents changes to header*/
  .main-header {
    display: none;
  }

  .mobile-header {
    display: flex;
  }

  .mobile-header img {
    height: 2.75rem;
  }

  /*Documents changes to the main statement box*/
  .statementbox {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .statement-image {
    width: 100%;
  }

  .information {
    width: 100%;
    margin: 0;
    align-items: center;
  }

  .informationbox {
    width: 90%;
    margin: 32px;
  }

  .informationbox h1 {
    font-size: 3rem;
    margin-bottom: 32px;
  }

  .informationbox p {
    font-size: 2rem;
    margin-bottom: 24px;
  }

  .box {
    background-color: #696969;
  }

  .informationbox a {
    font-size: 1.5rem;
  }

  /* Documents changes to the mission statement area*/
  #main {
    display: none;
  }

  .sidelinks {
    display: none;
  }

  .sidelinks-mobile {
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .infobox {
    display: flex;
    flex-direction: column;
  }

  .infobox:first-child {
    border-bottom: none;
    padding-top: 32px;
  }

  .infobox:last-child {
    background-color: white;
    padding-bottom: 64px;
  }

  .imagebox {
    width: 100%;
  }

  .infobox img {
    width: 100%;
    margin-bottom: 32px;
  }

  .additonalinfo {
    width: 100%;
    padding-left: 16px;
  }

  .additonalinfo p {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
  }

  /*Styling for the course box */

  .learning {
    background-color: #F5F5F5;
    padding: 32px;
  }

  .learning h1 {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 2.5rem;
  }

  .coursebox {
    display: none;
  }

  .coursebox-mobile {
    display: block;
    width: 100%;
  }

  .course {
    width: 100%;
    margin-bottom: 8px;
    background-color: #D3D3D3;
  }

  .course h2 {
    padding: 16px 0 24px 16px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .course:last-child {
    margin-bottom: 0;
  }

  /* Styling for Thesis */
  .thesisbox {
    width: 100%;
  }

  .thesisbox h1{
    padding: 0;
    font-size: 2.5rem;
  }

  #thesis .main {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #thesis .main h2, p {
    display: none;
  }

  #thesis .main video {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #thesis .sidelinks {
    display: none;
  }

  /* Styling for footer */
  footer {
    padding: 16px;
    width: 100%;
    border: none;
  }

  footer nav {
    display: none;
  }
}
